numpy
scipy
cython
setuptools
pyinstaller
numexpr>=2.6.2
psutil>=5.2.2
pyzmq>=16.0.2
msgpack>=0.5.4
pyopengl>=3.1.0
pyaudio>=0.2.11
git+https://github.com/zeromq/pyre#egg=pyre
git+https://github.com/pupil-labs/PyAV#egg=av
git+https://github.com/pupil-labs/pyuvc#egg=uvc
git+https://github.com/pupil-labs/pyndsi#egg=ndsi
git+https://github.com/pupil-labs/pyglui#egg=pyglui
